.mainContainer {
  box-sizing: border-box;
  padding: 0 20%;
}

.title {
  font-size: 2em;
  text-align: center;
}

.contentTable {
  border-collapse: collapse;
  margin: 25px 0;
  width: 100%;
  font-size: 1em;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.tableHeadRow {
  background-color: var(--primary);
  color: var(--textColor);
  text-align: left;
  font-weight: bold;
}

.contentTable th,
.contentTable td {
  padding: 12px 15px;
}

.tableBodyRow {
  border-bottom: 2px solid #dddddd;
}

.tableBodyRow:nth-of-type(even) {
  background-color: #f3f3f3;
}

.tableBodyRow:last-of-type {
  border-bottom: 2px solid var(--primary);
}
.action {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}
.action:first-child {
  margin-right: 10px;
}
.actionIcon {
  width: 3em;
}

@media screen and (max-width: 768px) {
  .mainContainer {
    padding: 0 5%;
  }
  .actionIcon {
    width: 2.2em;
  }
}
