body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

:root {
  --primary: #9bf1b7;
  --textColor: #313819;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }
}
