.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  box-sizing: border-box;
}

.checkbox {
  display: none;
}

.menuIcon {
  display: none;
}

.navbarMenu {
  display: flex;
  align-items: center;
}

.navbarLink {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--textColor);
  font-size: 1.45em;
  margin-right: 10px;
}

.navbarLink:last-child {
  margin-right: 0;
}

.navbarPicnic {
  height: 45px;
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .navbar {
    position: relative;
  }

  .menuIcon {
    display: block;
    width: 30px;
  }

  .navbarMenu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    padding: 0px;
    margin: 0px;

    width: 100%;
    font-size: 16px;
    background-color: white;
  }

  .checkbox:checked ~ .navbarMenu {
    display: flex;
  }

  .navbarLink {
    margin-right: 0px;
  }

  .navbarPicnic {
    width: 30px;
  }
}
