.mainContainer {
  padding: 0 20%;
}

.productInfoTitle {
  font-size: 1.3em;
  font-weight: bold;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--lightGray);
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .heroImage {
    width: 100%;
  }
}
