.container {
  padding: 0 20%;
}

.heroContainer {
  width: 100%;
  height: 350px;
  border-radius: 25px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('/images/about-hero.jpg');
  background-position: 100% 70%;
  background-size: cover;
  display: flex;
  padding: 0 1em;
  box-sizing: border-box;
  align-items: flex-end;
}

.heroText {
  color: white;
  font-size: 2.5em;
}
