.productInfoTitle {
  font-size: 1.3em;
  font-weight: bold;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--lightGray);
  margin-bottom: 15px;
}

.avoLoading {
  width: 100%;
  display: flex;
  justify-content: center;
}
.avoLoadingImage {
  width: 100px;
  animation: avoloading 1s infinite linear;
}

@keyframes avoloading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(365deg);
  }
}

@media screen and (max-width: 768px) {
  .productInfoDescriptionText {
    font-size: 1.3em;
    text-align: justify;
  }
}
